:root {
	--keyColor: #1c3949;
}
div#app {
	--color1: #3C74C3;
	--color2: #3C74C3;
	--bgColor: transparent;
	--bgWidth: 0px;
	--bgHeight: 0px;
	--chromeHeight: 55px;
	--keyColor: #1c3949;
	width: 100%;
	height: 100%;
	background: #1c3949;
	color: #c5c1e8;
	user-select: none;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-size: 400% 400%;

	&.simplebg {
		background: #1c3949;

		.app-chrome {
			z-index: 1;
		}
	}
}
