:root {
	--keyColor: #01576F;
}
div#app {
	--color1: #2758CD;
	--color2: #2758CD;
	--bgColor: transparent;
	--bgWidth: 0px;
	--bgHeight: 0px;
	--chromeHeight: 55px;
	--keyColor: #01576F;
	width: 100%;
	height: 100%;
	background: #01576F;
	color: #a2c0f5;
	user-select: none;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-size: 400% 400%;

	&.simplebg {
		background: #01576F;

		.app-chrome {
			z-index: 1;
		}
	}
}
